# DATA PROCESSING USING SCI-KIT LEARN

1. Sci-kit learn in short form sklearn
2. Another python package / library for many operations.
    -data preprocessing
    -ML
    -NN
    -NLP
    -Stats
    .......
3. SKlearn expects your data to be in the form of NUmpy array

Create A Model That can predict whether the customer will purchase the product from my shop based on 
customer's Location, Age and Salary

In [1]:
import pandas as pd
import numpy as np

In [2]:
dataDF = pd.read_csv('pre-process_datasample.csv')

In [3]:
dataDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    9 non-null      object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

--SKlearn currently doesnt support Handling Missing Values in String Columns 
--You will need to use Pandas if You want to perform Imputation
--Official name of filling the missing value is called Imputation

In [4]:
dataDF.Country.fillna(dataDF.Country.mode()[0] , inplace=True)

In [5]:
dataDF

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8   France  50.0  83000.0        No
9   France  37.0  67000.0       Yes

Rules for using SKLEARN
--------------------------------
1. Your data must be strictly a Numpy Array
2. Sklearn Doesnt Support Handling Missing Values in Non-numeric Columns unfortunately
3. Ensure your feature set is completely NUMERIC

Try to understand what is Feature and Label..
-------------------------------------------------------
Predictive Analytics, we find two types of variables
1. Independent Variables (Features) input variables -- Location, Age, Salary
--Whatever information you have is independant variable
2. Dependent Variables (Label) output variables ------- Purchased
--whatever you are predicting based on the information you have is dependant variable
3. From above rules , feature should be completely numerical, but label having non-numeric also manageable.
    and its fine for scikit learn.But not for other programming languages like R..
    for Scikit learn alone its feasible.

In [6]:
dataDF.head()

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes

In [7]:
dataDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10 entries, 0 to 9
Data columns (total 4 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   Country    10 non-null     object
 1   Age        9 non-null      float64
 2   Salary     9 non-null      float64
 3   Purchased  10 non-null     object
dtypes: float64(2), object(2)
memory usage: 448.0+ bytes

In [8]:
#Seperate Features and Label
featuresDF = dataDF.iloc[:,:-1].values # -1 INDICATES..UPPER BOUND VALUE..end value +1
labelDF = dataDF.iloc[:,-1].values

In [9]:
featuresDF

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['France', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [10]:
labelDF

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

In [11]:
dataDF

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8   France  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [12]:
featuresDF

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, nan],
       ['France', 35.0, 58000.0],
       ['Spain', nan, 52000.0],
       ['France', 48.0, 79000.0],
       ['France', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

In [13]:
labelDF

array(['No', 'Yes', 'No', 'No', 'Yes', 'Yes', 'No', 'Yes', 'No', 'Yes'],
      dtype=object)

Deal with Missing Values
---------------------------------
Step1: Import relevant package and class
Step2: Create Object and Instantiate the Object
Step3: Fit the Object With the Data (Performing Calc ....)
Step4: Transform Your DataSet with Fitted Values (Applying VAlues in respective col data)

Deal with Missing Values

Step1: Import relevant package and class
.impute is a package from sklearn and SimpleImputer is the class

In [14]:
from sklearn.impute import SimpleImputer

If you are not sure about SimpleImputer, where do you get help to understand about it?
How do know about SimpleImputer, what it will do, from where we should get about this?

In [15]:
?SimpleImputer

Init signature:
SimpleImputer(
    *,
    missing_values=nan,
    strategy='mean',
    fill_value=None,
    verbose=0,
    copy=True,
    add_indicator=False,
)
Docstring:
Imputation transformer for completing missing values.

Read more in the :ref:`User Guide <impute>`.

.. versionadded:: 0.20
   `SimpleImputer` replaces the previous `sklearn.preprocessing.Imputer`
   estimator which is now removed.

Parameters
----------
missing_values : int, float, str, np.nan or None, default=np.nan
    The placeholder for the missing values. All occurrences of
    `missing_values` will be imputed. For pandas' dataframes with
    nullable integer dtypes with missing values, `missing_values`
    should be set to `np.nan`, since `pd.NA` will be converted to `np.nan`.

strategy : string, default='mean'
    The imputation strategy.

    - If "mean", then replace missing values using the mean along
      each column. Can only be used with numeric data.
    - If "median", then replace missing values using the median along
      each column. Can only be used with numeric data.
    - If "most_frequent", then replace missing using the most frequent
      value along each column. Can be used with strings or numeric data.
      If there is more than one such value, only the smallest is returned.
    - If "constant", then replace missing values with fill_value. Can be
      used with strings or numeric data.

    .. versionadded:: 0.20
       strategy="constant" for fixed value imputation.

fill_value : string or numerical value, default=None
    When strategy == "constant", fill_value is used to replace all
    occurrences of missing_values.
    If left to the default, fill_value will be 0 when imputing numerical
    data and "missing_value" for strings or object data types.

verbose : integer, default=0
    Controls the verbosity of the imputer.

copy : boolean, default=True
    If True, a copy of X will be created. If False, imputation will
    be done in-place whenever possible. Note that, in the following cases,
    a new copy will always be made, even if `copy=False`:

    - If X is not an array of floating values;
    - If X is encoded as a CSR matrix;
    - If add_indicator=True.

add_indicator : boolean, default=False
    If True, a :class:`MissingIndicator` transform will stack onto output
    of the imputer's transform. This allows a predictive estimator
    to account for missingness despite imputation. If a feature has no
    missing values at fit/train time, the feature won't appear on
    the missing indicator even if there are missing values at
    transform/test time.

Attributes
----------
statistics_ : array of shape (n_features,)
    The imputation fill value for each feature.
    Computing statistics can result in `np.nan` values.
    During :meth:`transform`, features corresponding to `np.nan`
    statistics will be discarded.

indicator_ : :class:`~sklearn.impute.MissingIndicator`
    Indicator used to add binary indicators for missing values.
    ``None`` if add_indicator is False.

See Also
--------
IterativeImputer : Multivariate imputation of missing values.

Examples
--------
>>> import numpy as np
>>> from sklearn.impute import SimpleImputer
>>> imp_mean = SimpleImputer(missing_values=np.nan, strategy='mean')
>>> imp_mean.fit([[7, 2, 3], [4, np.nan, 6], [10, 5, 9]])
SimpleImputer()
>>> X = [[np.nan, 2, 3], [4, np.nan, 6], [10, np.nan, 9]]
>>> print(imp_mean.transform(X))
[[ 7.   2.   3. ]
 [ 4.   3.5  6. ]
 [10.   3.5  9. ]]

Notes
-----
Columns which only contained missing values at :meth:`fit` are discarded
upon :meth:`transform` if strategy is not "constant".
File:           c:\users\davea\anaconda3\lib\site-packages\sklearn\impute\_base.py
Type:           type
Subclasses:

Step2: Create Object and Instantiate the Object
 --SimpleImputer works as calculation of mean and fill for missing values which are available in the data is represented as np.nan and 
--these should be filled with mean by imputation method    
 Plan of Action  --- Age --> Mean # Assumption only to explore :

In [16]:
siAge = SimpleImputer(strategy='mean' , 
                   missing_values=np.nan)

--Plan of Action-----------Salary --> Median

In [17]:
siSalary = SimpleImputer(strategy='median',
                        missing_values=np.nan)

here "si" is called object...and strategy here is mean.....so object is called mean imputation.

In [18]:
np.nan == np.nan # always false

False

Step3: Fit the Object With the Data (Performing Calc ....)
.fit() is a function in sklearn which will perform the calculation

In [19]:
featuresDF[:,1]

array([44.0, 27.0, 30.0, 38.0, 40.0, 35.0, nan, 48.0, 50.0, 37.0],
      dtype=object)

In [20]:
featuresDF[:,1].ndim

1

In [21]:
# the above data is in 1-D, but sklearn expects 2-d data

In [22]:
featuresDF[:,[1]]

array([[44.0],
       [27.0],
       [30.0],
       [38.0],
       [40.0],
       [35.0],
       [nan],
       [48.0],
       [50.0],
       [37.0]], dtype=object)

In [23]:
featuresDF[:,[1]].ndim

2

In [24]:
#  now it has become 2d DATA

In [25]:
siAge.fit(featuresDF[:,1]) # calculates the mean of the column

ValueError: Expected 2D array, got 1D array instead:
array=[44. 27. 30. 38. 40. 35. nan 48. 50. 37.].
Reshape your data either using array.reshape(-1, 1) if your data has a single feature or array.reshape(1, -1) if it contains a single sample.

In [26]:
siAge.fit(featuresDF[:,[1]]) # calculates the mean of the column

SimpleImputer()

In [27]:
siAge.fit(featuresDF[:,1].reshape(-1,1)) # same as above # SimpleImputer() is the default of strategy="mean"

SimpleImputer()

In [28]:
siSalary.fit(featuresDF[:,2].reshape(-1,1))

SimpleImputer(strategy='median')

Step4: Transform Your DataSet with Fitted Values (Applying VAlues in respective col data)

In [29]:
featuresDF[:,[1]] = siAge.transform(featuresDF[:,[1]])
featuresDF[:,[2]] = siSalary.transform(featuresDF[:,[2]])

In [30]:
dataDF

   Country   Age   Salary Purchased
0   France  44.0  72000.0        No
1    Spain  27.0  48000.0       Yes
2  Germany  30.0  54000.0        No
3    Spain  38.0  61000.0        No
4  Germany  40.0      NaN       Yes
5   France  35.0  58000.0       Yes
6    Spain   NaN  52000.0        No
7   France  48.0  79000.0       Yes
8   France  50.0  83000.0        No
9   France  37.0  67000.0       Yes

In [31]:
featuresDF

array([['France', 44.0, 72000.0],
       ['Spain', 27.0, 48000.0],
       ['Germany', 30.0, 54000.0],
       ['Spain', 38.0, 61000.0],
       ['Germany', 40.0, 61000.0],
       ['France', 35.0, 58000.0],
       ['Spain', 38.77777777777778, 52000.0],
       ['France', 48.0, 79000.0],
       ['France', 50.0, 83000.0],
       ['France', 37.0, 67000.0]], dtype=object)

# The above functions ( .fit() & .Transform() )  will be done with single function called .fit_transform()
and syntax is : features[:,1] = siAge.fit_transform(features[:,1])

# Data processing can be done with two ways 
Using pandas , to fill the missing values .fillna will be used
Using sklearn , .fit_transform will be used.

In [32]:
#One Hot Encoding for categorical variables
# reshape is required because sklearn asks for 2d data
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)
fCountry = ohe.fit_transform(featuresDF[:,0].reshape(-1,1)) # .reshape(row , columns)
fCountry                                      # row=-1 means till last rows, 1 means 1st column, i.e, contry

array([[1., 0., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 1., 0.],
       [1., 0., 0.],
       [0., 0., 1.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

array([[1., 0., 0.],-------France
       [0., 0., 1.],-------Spain
       [0., 1., 0.],-------Germany
       [0., 0., 1.],-------Spain
       [0., 1., 0.],-------Germany
       [1., 0., 0.],-------France
       [0., 0., 1.],-------Spain
       [1., 0., 0.],-------France
       [1., 0., 0.],-------France
       [1., 0., 0.]])------France

## Sparse Matrix : If matrix i having lots of lots zeros,then sprase martrix will compresses matrixs having the zeros to reduc the memory size.
--this sparse matrix is available in scipy library.
--in general Scipy is used for stats.
--see the example below

ohe = OneHotEncoder()
fCountry = ohe.fit_transform(featuresDF[:,0].reshape(-1,1))
fCountry

 The above code is with sparse matrix, so the result is 10*3 sparse matrix type with 10 atored elements in compressed sparse  row format..to save the memory allocation
 # the above data can not give for further preocessing

In [33]:
finalFeatures = np.concatenate((fCountry, featuresDF[:,[1,2]]) , axis = 1) # to bring all together

In [34]:
# if any doubt on axis=1, then check for 
?np.concatenate

Docstring:
concatenate((a1, a2, ...), axis=0, out=None, dtype=None, casting="same_kind")

Join a sequence of arrays along an existing axis.

Parameters
----------
a1, a2, ... : sequence of array_like
    The arrays must have the same shape, except in the dimension
    corresponding to `axis` (the first, by default).
axis : int, optional
    The axis along which the arrays will be joined.  If axis is None,
    arrays are flattened before use.  Default is 0.
out : ndarray, optional
    If provided, the destination to place the result. The shape must be
    correct, matching that of what concatenate would have returned if no
    out argument were specified.
dtype : str or dtype
    If provided, the destination array will have this dtype. Cannot be
    provided together with `out`.

    .. versionadded:: 1.20.0

casting : {'no', 'equiv', 'safe', 'same_kind', 'unsafe'}, optional
    Controls what kind of data casting may occur. Defaults to 'same_kind'.

    .. versionadded:: 1.20.0

Returns
-------
res : ndarray
    The concatenated array.

See Also
--------
ma.concatenate : Concatenate function that preserves input masks.
array_split : Split an array into multiple sub-arrays of equal or
              near-equal size.
split : Split array into a list of multiple sub-arrays of equal size.
hsplit : Split array into multiple sub-arrays horizontally (column wise).
vsplit : Split array into multiple sub-arrays vertically (row wise).
dsplit : Split array into multiple sub-arrays along the 3rd axis (depth).
stack : Stack a sequence of arrays along a new axis.
block : Assemble arrays from blocks.
hstack : Stack arrays in sequence horizontally (column wise).
vstack : Stack arrays in sequence vertically (row wise).
dstack : Stack arrays in sequence depth wise (along third dimension).
column_stack : Stack 1-D arrays as columns into a 2-D array.

Notes
-----
When one or more of the arrays to be concatenated is a MaskedArray,
this function will return a MaskedArray object instead of an ndarray,
but the input masks are *not* preserved. In cases where a MaskedArray
is expected as input, use the ma.concatenate function from the masked
array module instead.

Examples
--------
>>> a = np.array([[1, 2], [3, 4]])
>>> b = np.array([[5, 6]])
>>> np.concatenate((a, b), axis=0)
array([[1, 2],
       [3, 4],
       [5, 6]])
>>> np.concatenate((a, b.T), axis=1)
array([[1, 2, 5],
       [3, 4, 6]])
>>> np.concatenate((a, b), axis=None)
array([1, 2, 3, 4, 5, 6])

This function will not preserve masking of MaskedArray inputs.

>>> a = np.ma.arange(3)
>>> a[1] = np.ma.masked
>>> b = np.arange(2, 5)
>>> a
masked_array(data=[0, --, 2],
             mask=[False,  True, False],
       fill_value=999999)
>>> b
array([2, 3, 4])
>>> np.concatenate([a, b])
masked_array(data=[0, 1, 2, 2, 3, 4],
             mask=False,
       fill_value=999999)
>>> np.ma.concatenate([a, b])
masked_array(data=[0, --, 2, 2, 3, 4],
             mask=[False,  True, False, False, False, False],
       fill_value=999999)
Type:      function

In [35]:
finalFeatures

array([[1.0, 0.0, 0.0, 44.0, 72000.0],
       [0.0, 0.0, 1.0, 27.0, 48000.0],
       [0.0, 1.0, 0.0, 30.0, 54000.0],
       [0.0, 0.0, 1.0, 38.0, 61000.0],
       [0.0, 1.0, 0.0, 40.0, 61000.0],
       [1.0, 0.0, 0.0, 35.0, 58000.0],
       [0.0, 0.0, 1.0, 38.77777777777778, 52000.0],
       [1.0, 0.0, 0.0, 48.0, 79000.0],
       [1.0, 0.0, 0.0, 50.0, 83000.0],
       [1.0, 0.0, 0.0, 37.0, 67000.0]], dtype=object)

In [ ]:
# Conclusions on processing of data
# 1. performance wise both ways i.e,Pandas and sklearn both are same
# 2. mermory for calculation also same because pandas also use numpy only
# 3. only to aware both the procedures ..we have gone thru
# 4. if organisation ahving not of pandas becuase of security standards or others
#    then sklearn way is helpful

In [ ]:
#Sparse Matrix EXample
import numpy as np
matrix1 = np.matrix([[0,0,0,0],[0,0,0,0],[0,0,0,0],[0,0,1,2]])
matrix1

In [ ]:
#Bytes
import sys
sys.getsizeof(matrix1)

In [ ]:
#Compress the matrix with a goal to save memory space
from scipy.sparse import csr_matrix
compressedMatrix = csr_matrix(matrix1)

In [ ]:
sys.getsizeof(compressedMatrix)

this is the concept where this is used in winzip file compression

Sparse matrix uses: 
-------------------
---1.this is memory saving technic used for neural network, incase where images, videos and audio will take more in size, and that too NN works on top of RAM ..
---2. effective utilization of program, if your are good programmer, you will maintain a matrix always in sparse matrix.
---3. Example is Graphics rendering, Video rendering..takes lot of time..so to reduce time in rendering, then need to use sparse matrix.
Explanation : when we say image, then it is inthe form of RGB, Image is nothing but matrix of 3 intensities.
                red, green,blue.
 when we work on 1080p--Pixel..
 what is the normal HD video quality? it is 720.
 So size of the matrix is 720*1080..
 Is it not good idea to reduce the size of the image and video, especially screen of the video.
 
 4. Real time face / road detection also takes lot of memory becuase of huge amount of matrices carries...so, this kind of applications are worked in mathematics with fundamental tecniques to reduce the size of the memory..
 this basic concept is called Sparse matrix.

# When we use oneHotEncoder, the output will give with sparsing matrix, that is not enough to use for further programming,  instead we need proper dummy variable to give input to the ML.
# to do prpoer dummy variable, we are doing disabling sparsity on the codong as (...., sparse=False)
#One Hot Encoding
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)