# Use-case: Salary Prediction
## We need to create a model that can predict the salary of the employee based on EMPLOYEE's YearsOfExperience

In [2]:
import numpy as np
import pandas as pd

In [6]:
salaryDataDF = pd.read_csv("Salary_Data.csv")

In [7]:
salaryDataDF

    YearsExperience    Salary
0               1.1   39343.0
1               1.3   46205.0
2               1.5   37731.0
3               2.0   43525.0
4               2.2   39891.0
5               2.9   56642.0
6               3.0   60150.0
7               3.2   54445.0
8               3.2   64445.0
9               3.7   57189.0
10              3.9   63218.0
11              4.0   55794.0
12              4.0   56957.0
13              4.1   57081.0
14              4.5   61111.0
15              4.9   67938.0
16              5.1   66029.0
17              5.3   83088.0
18              5.9   81363.0
19              6.0   93940.0
20              6.8   91738.0
21              7.1   98273.0
22              7.9  101302.0
23              8.2  113812.0
24              8.7  109431.0
25              9.0  105582.0
26              9.5  116969.0
27              9.6  112635.0
28             10.3  122391.0
29             10.5  121872.0
30              NaN       NaN

In [8]:
salaryDataDF.head()

   YearsExperience   Salary
0              1.1  39343.0
1              1.3  46205.0
2              1.5  37731.0
3              2.0  43525.0
4              2.2  39891.0

In [9]:
salaryDataDF.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 31 entries, 0 to 30
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 624.0 bytes

In [10]:
salaryDataDF.isnull().sum()

YearsExperience    1
Salary             1
dtype: int64

In [14]:
# imputation process is only for features, but not for the Labels..
# as we do not know which answer need to fill for the given question..
# Machine as to learn the amswers from the questions, so if we put wrong answers for the questions 
# then machine also learns wrong answers then model will be perfect model for the future predictions
# if data in Label is missing , then better to remove.
salaryDataDF.dropna(inplace=True)

In [15]:
salaryDataDF.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 30 entries, 0 to 29
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   YearsExperience  30 non-null     float64
 1   Salary           30 non-null     float64
dtypes: float64(2)
memory usage: 720.0 bytes

In [16]:
salaryDataDF.isnull().sum()

YearsExperience    0
Salary             0
dtype: int64

In [18]:
salaryDataDF.describe()

       YearsExperience         Salary
count        30.000000      30.000000
mean          5.313333   76003.000000
std           2.837888   27414.429785
min           1.100000   37731.000000
25%           3.200000   56720.750000
50%           4.700000   65237.000000
75%           7.700000  100544.750000
max          10.500000  122391.000000

In [10]:
#Rules (Not guide lines) on SKlearn For Regression
# 1. Features and Label must be in the form of NUMPY ARRAY
# 2. Features must be in 2D array
# 3. Label  must be in 2D array

In [11]:
# Assuming we completed all Inappropriate, Outlier, Data Preprocessing Steps
# the Next STep is:

In [19]:
#Seperate data as features and label
featuresDF = salaryDataDF.iloc[:,[0]].values
labelDF = salaryDataDF.iloc[:,[1]].values

In [20]:
featuresDF

array([[ 1.1],
       [ 1.3],
       [ 1.5],
       [ 2. ],
       [ 2.2],
       [ 2.9],
       [ 3. ],
       [ 3.2],
       [ 3.2],
       [ 3.7],
       [ 3.9],
       [ 4. ],
       [ 4. ],
       [ 4.1],
       [ 4.5],
       [ 4.9],
       [ 5.1],
       [ 5.3],
       [ 5.9],
       [ 6. ],
       [ 6.8],
       [ 7.1],
       [ 7.9],
       [ 8.2],
       [ 8.7],
       [ 9. ],
       [ 9.5],
       [ 9.6],
       [10.3],
       [10.5]])

In [21]:
labelDF

array([[ 39343.],
       [ 46205.],
       [ 37731.],
       [ 43525.],
       [ 39891.],
       [ 56642.],
       [ 60150.],
       [ 54445.],
       [ 64445.],
       [ 57189.],
       [ 63218.],
       [ 55794.],
       [ 56957.],
       [ 57081.],
       [ 61111.],
       [ 67938.],
       [ 66029.],
       [ 83088.],
       [ 81363.],
       [ 93940.],
       [ 91738.],
       [ 98273.],
       [101302.],
       [113812.],
       [109431.],
       [105582.],
       [116969.],
       [112635.],
       [122391.],
       [121872.]])

ML Coding Begins

In [16]:
# Before you initiate the coding, you must know two things from your data scientist
# 1. Approved Significance Level for the Project
# 2. Timeline to Develop and Deploy the Model

Process:

In [16]:
# Step 1. Create Train Test Split
# Step 2. Build the Model
# Step 3. Check the Quality of Model w.r.t. CL
# Step 4. If CL is satisified, Perform DEPLOYMENT !!!!, else. goto Step2 with some CHANGES!!!

In [ ]:
# Machine Learning model build is an iterative process, it will be broken down based on the CL value.

In [32]:
# 1. Create Train Test Split

from sklearn.model_selection import train_test_split

X_train,X_test,y_train,y_test = train_test_split(features,
                                                 label,
                                                 test_size=0.2,
                                                 random_state=10)

In [33]:
# 2. Build the Model

from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(X_train,y_train) #Training my Model with Training Data
                           #Learning coefficients and intercept

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=False)

In [34]:
# 3. Check the Quality of Model w.r.t. CL
#
# We need to check whether the trained model is a generalized model or not
#
# Generalization is all about how the model performs with UNKNOWN DATA
# 
# Given Model --> Underfitted Model, Generalized Model , Overfitted Model
#
# SL ----> 0.02
# 
# test_score > train_score and test_score >= CL ----> Model is Generalized
# train score > test_score -------------------------> Model is Overfitted (acc > 20 or acc_train > CL)

In [35]:
#Training Score (Accuracy)
model.score(X_train,y_train) #0-1

0.9494673013344646

In [36]:
#Testing Score
model.score(X_test,y_test)

0.9816423482070255

In [38]:
#Coef
model.coef_

array([[9356.86299354]])

In [39]:
#Intercept
model.intercept_

array([26089.09663242])

In [ ]:
#Equation of Line?
# salary = 26089.09663242 + (9356.86299354 * YearsExperience)

In [37]:
#Deployment
#Package --> Pickle --- To persist the Memory Object
#open() in python allows you to create a new file
#open(filename,writeFormat/readFormat)
#wb - write the bytes in the file
#rb - read the bytes from the file
#
# pkl,mdl,tf2,hdf,custom
import pickle
pickle.dump(model , open('SalaryPredictor.model' , 'wb'))